/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class],
li[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  max-width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-decoration: none;
}

/* Удаляем стандартную стилизацию для всех ul ol li*/
ul,
ol,
li,
ul[class],
ol[class],
li[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* конец сброса */

body {}

/* fonts */

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/raleway-v28-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v28-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/raleway-v28-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/raleway-v28-latin-500.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/raleway-v28-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/raleway-v28-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/raleway-v28-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/raleway-v28-latin-700.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/raleway-v28-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-800 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-weight: 800;
  src: url("../fonts/raleway-v28-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/raleway-v28-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/raleway-v28-latin-800.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/raleway-v28-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/raleway-v28-latin-800.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway-v28-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/raleway-v28-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/raleway-v28-latin-900.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/raleway-v28-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/raleway-v28-latin-900.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/playfair-display-v30-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/playfair-display-v30-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/playfair-display-v30-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/playfair-display-v30-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/playfair-display-v30-latin-regular.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}

/* playfair-display-900 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/playfair-display-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/playfair-display-v30-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/playfair-display-v30-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/playfair-display-v30-latin-900.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/playfair-display-v30-latin-900.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/playfair-display-v30-latin-900.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}



/* colors start */

.w {
  color: #FFFFFF;
}

.b {
  color: #000000;
}

.g {
  color: #4BA87D;
}

/* colors end */

/* bacground */

.bw {
  background: #FFFFFF
}

.bg {
  background: #4BA87D;
}

/* bacground end */

/* Типография */

.xxl {
  font-family: Playfair Display; 
  /* font-size: 60px; */
  font-weight: 900;
  /* line-height: 80px; */
  line-height:calc(29px + (80 - 29) * ((100vw - 320px) / (1440 - 320))) ;
  text-align: left;
  color: #FFFFFF;
  font-size: calc(22px + (60 - 22) * ((100vw - 320px) / (1440 - 320)));
  /* padding-bottom: 61px; */
  padding-bottom: calc(27px + (61 - 27) * ((100vw - 320px) / (1440 - 320)));
}

.xl {
  font-family: Playfair Display;
  /* font-size: 4.1vw; */
  /* font-weight: 900; */
  /* line-height: 71px; */
  line-height: calc(46px + (71 - 46) * ((100vw - 320px) / (1440 - 320)));
  text-align: left;
  color: #000000;
  /* padding-bottom: 23px; */
  padding-bottom: calc(17px + (23 - 17) * ((100vw - 768px) / (1440 - 768)));
  font-size: calc(36px + (59 - 36) * ((100vw - 320px) / (1440 - 320)));
}

.l {
  font-family: Playfair Display;
  /* font-size: 44px; */
  font-size: calc(28px + (44 - 28) * ((100vw - 768px) / (1440 - 768)));
  font-weight: 900;
  /* line-height: 48px; */
  line-height: calc(31px + (48 - 31) * ((100vw - 768px) / (1440 - 768)));
  text-align: left;
  color: #000000;
  /* padding-bottom: 24px; */
  padding-bottom: calc(17px + (24 - 17) * ((100vw - 768px) / (1440 - 768)));
}
.slb {
  font-family: Raleway;
  font-weight: 900;
  line-height: calc(15px + (25 - 15) * ((100vw - 320px) / (1440 - 320)));
  /* letter-spacing: 1px; */
  letter-spacing: calc(1.3px + (2.1 - 1.3) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  text-decoration: none;
  font-size: calc(15px + (21 - 15) * ((100vw - 320px) / (1440 - 320)));
  }
.sl {
  font-family: Raleway;
  /* font-size: 1.46vw; */
  font-weight: 900;
  /* line-height: 25px; */
  line-height: calc(15px + (25 - 15) * ((100vw - 320px) / (1440 - 320)));
  /* letter-spacing: 1px; */
  letter-spacing: calc(0.6px + (1 - 0.6) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  text-decoration: none;
  font-size: calc(15px + (21 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.sb {
  font-family: Raleway;
  /* font-size: 17px; */
  font-weight: 800;
  text-decoration: none;
  /* line-height: 20px; */
  line-height: calc(13px + (20 - 13) * ((100vw - 320px) / (1440 - 320)));
  /* letter-spacing: 1.27px; */
  letter-spacing: calc(0.82 + (1.27 - 0.82) * ((100vw - 320px) / (1440 - 320)));
  font-size: calc(11px + (17 - 11) * (100vw - 320px) / ((1440 - 320)));
}

.sbl {
  font-family: Raleway;
  /* font-size: 16px; */
  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1440 - 768)));
  font-weight: 800;
  /* line-height: 19px; */
  line-height: calc(14px + (19 - 14) * ((100vw - 768px) / (114 - 768)));
  text-align: left;
  color: #4BA87D;
  text-decoration: none;
}

.s {
  font-family: Raleway;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.m {
  font-family: Raleway;
  /* font-size: 1.32vw; */
  font-weight: 500;
  /* line-height: 26px; */
  line-height: calc(16px + (26 - 16) * ((100vw - 320px) / (1440 - 320)));
  text-align: left;
  color: #000000;
  /* padding-bottom: 35px; */
  padding-bottom: calc(16px + (35 - 16) * ((100vw - 320px) / (1440 - 320)));
  font-size: calc(12px + (19 - 12) * ((100vw - 768px) / (1440 - 768)));
}

.mm {
  font-family: Raleway;
  /* font-size: 16px; */
  font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1440 - 768)));
  font-weight: 500;
  /* line-height: 26px; */
  line-height: calc(16px + (26 - 16) * ((100vw - 768px) / (1440 - 768)));
  text-align: left;
  color: #000000;
  /* padding-bottom: 20px; */
  padding-bottom: calc(10px + (15 - 10) * ((100vw - 768px) / (1440 - 768)));
}

.mml {
  padding-left: 25px;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1.0499999523162842px;
  text-align: left;
}

/* Типография  end*/

/* buttons */

.button0 {
  padding: .8vw 0vw .2vw;
  background: none;
  border: none;
  border-bottom: 5px solid #4BA87D;
  margin-right: calc(26px + (38 - 26) * ((100vw - 768px) / (1440 - 768)));
}

.button {
  /* width: 168px; */
  width: calc(110px + (168 - 110) * ((100vw - 320px) / (1440 - 320)));
  /* height: 41px; */
  /* height: calc(25px + (41 - 25) * ((100vw - 320px) / (1440 - 320))); */
  /* padding: .7% 1.4vw .8vw; */
  /* padding-top: 10px; */
  padding-top: calc(6px + (10 - 6) * ((100vw - 320px) / (1440 - 320)));
  /* padding-left:20px ; */
  padding-left: calc(13.5px + (20 - 13.5) * ((100vw - 320px) / (1440 - 320)));
  padding-right:calc(13.5px + (20 - 13.5) * ((100vw - 320px) / (1440 - 320)));
  /* padding-bottom: 11px; */
  padding-bottom: calc(6px + (11 - 6) * ((100vw - 320px) / (1440 - 320)));
  background-color: #4BA87D;
  color: #FFFFFF;
  text-align: center;
  border: none;
}

.link {
  cursor: pointer;
}

.button1 {
  padding: 1.32vw 3.26vw 1.45vw 3.33vw;
  background-color: #4BA87D;
  color: #FFFFFF;
  border: none;
  margin-right: 3.12vw;
  /* width: calc(131px + (200 - 131) * ((100vw - 768px) / (1440 - 768))); */
  /* height: calc(42px + (65 - 42) * ((100vw - 768px) / (1440 - 768))); */
}

.button2 {
  padding: 1.32vw 1.88vw 1.46vw 2.02vw;
  background-color: #FFFFFF;
  border: none;
  border: 3px solid #4BA87D;
  padding: 3;
  color: #4BA87D;
  /* width: calc(131px + (200 - 131) * ((100vw - 768px) / (1440 - 768))); */
  /* height: calc(42px + (65 - 42) * ((100vw - 768px) / (1440 - 768))); */

}

.button3 {
  /* padding: 19px 32px 21px 32px; */
  padding-top: calc(7px + (19 - 7) * ((100vw - 320px) / (1440 - 320)));
  padding-right: calc(13px + (32 - 13) * ((100vw - 320px) / (1440 - 320)));
  padding-left: calc(13px + (32 - 13) * ((100vw - 320px) / (1440 - 320)));
  padding-bottom: calc(7px + (19 - 7) * ((100vw - 320px) / (1440 - 320)));
  background-color: #FFFFFF;
  color: #4BA87D;
  border: none;
}

.button3:hover,
.button3:active {
  opacity: .7;
  color: aqua;
}

.button4 {
  padding: 19px 29px 21px 30px;
  background-color: #4BA87D;
  color: #FFFFFF;
}

.button5 {
  padding: 19px 32px 21px 32px;
  background-color: #FFFFFF;
  color: #4BA87D;
}

html {
  /* top: calc(76px + (86 - 76) * ((100vw - 768px) / (1440 - 768)));
  background: url(../img/bgstuff.svg) no-repeat;
  background-size: calc(100vw + (77 * ((100vw - 1440px) / (768 - 1440)))); */
}
/* start nav*/

header {
  width: 90%;
  top: 0;
  left: 0;
  margin: 0 auto;
  /* margin-bottom: 99px; */
  margin-bottom: calc(23px + (66 - 23) * ((100vw - 768px) / (1440 - 768)));
}


.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 93px; */
  margin-bottom: calc(60px + (93 - 60) * ((100vw - 768px) / (1440 - 768)));
}

.logo-container {
  padding-top: 19px;
  max-width: calc(173px + (270 - 173) * ((100vw - 768px) / (1440 - 768)));
  margin-left: calc(-15px + (-15 - (-30)) * ((100vw - 320px) / (1440 - 320)));
}

.nav {
  display: flex;
  align-items: center;
  /* margin-right: 38px; */
  /* margin-right: calc(26px + (38 - 26) * ((100vw - 768px) / (1440 - 768))); */
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  position: relative;
  margin-right: calc(26px + (38 - 26) * ((100vw - 768px) / (1440 - 768)));
}

.nav-link::after {
  position: absolute;
  content: "";
  top: calc(21px + (28 - 21) * ((100vw - 768px) / (1440 - 768)));
  left: -2px;
  height: 5px;
  /* width: 110px; */
  background: #4BA87D;
  width: calc(71px + (100 - 71) * (100vw - 768px) / ((1440 - 768)));

}




/*----nav end----*/

/*------hero-------------*/

main {
  height: 100%;
  position: relative;
}

.main-background {
  position: absolute;
  content: '';
  /* top:86px; */
  /* top: -99px; */
  top: calc(-59px + (-99 + 59) * ((100vw - 768px) / (1440 - 768)));
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: -10;
  background: url(../img/bgstuff.svg) no-repeat;
  background-size: calc(100vw + (77 * ((100vw - 1440px) / (768 - 1440))));
}

.hero { 
  width: calc(711px + (1088 - 711) * ((100vw - 768px) / (1440 - 768)));
  height: calc(250px + (383 - 250) * ((100vw - 768px) / (1440 - 768)));
  margin: 0 auto;
  display: flex;
  /* margin-bottom: 240px; */
  margin-bottom: calc(120px + (240 - 120) * ((100vw - 768px) / (1440 - 768)));
}

.pic {
  width: 100%;
  /* margin-left: -270px;   */
  margin-left: calc(-130px + (-270 + 130) * ((100vw - 768px) / (1440 - 768)));
  background: url(../img/photo-15.png) no-repeat center/100%; 
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 2;
}

.buttons {
  display: flex;
 
}

.photo-1 {
  z-index: -1;
  

} 

/*------hero end-----------*/

/*------video-----*/

 .videos {
  display: flex;
  justify-content: center; 
  text-align: center; 
  height: calc(202px + (628 - 202) * ((100vw - 320px) / (1440 - 320)));  
  width: calc(304px + (944 - 304) * ((100vw - 320px) / (1440 - 320)));
  margin: 0 auto;
  background: url(../img/video.svg) no-repeat center/100%;
  z-index: 1;
  /* margin-bottom: 185px; */
  margin-bottom: calc(40px + (49 - 40) * ((100vw - 768px) / (1440 - 768)));
}

.reach {  
  flex-direction: column;
  flex-wrap: wrap;  
  align-self: center;
  
}

/*------video end-----*/

/*-----section-------------*/

/*------карусель------*/

/*------карусель------*/

.section {
  display: flex;
  justify-content: center;
  /* height: 533px; */
  height: calc(348px + (533 - 348) * ((100vw - 768px) / (1440 - 768)));
  /* width: 1098px; */
  /* width: calc(710px + (1098 -710) * ((100vw - 710px) / (1440 - 710))); */
   /* margin: 0 auto; */
  margin-bottom: 133px;
}

.sourse {
  /* width: 320px; */
  width: calc(209px + (320 - 209) * ((100vw - 768px) / (1440 - 768)));
  /* height: 449px; */
  height: calc(294px + (449 - 294) * ((100vw - 768px) / (1440 - 768)));
  /* margin-right: 45px; */
  margin-right: calc(31px + (45 - 31) * (100vw - 768px) / (1440 - 768));
 
}

.launch {
 /* margin-bottom: 24px;  */
 margin-bottom: calc((10px + (15 - 10) * ((100vw - 768px) / (1440 - 768))));
}

.launch-title {
  display: flex;
  flex-direction: column;
 /* width: 251px; */
 width: calc(164px + (251 - 164) * ((100vw - 768px) / (1440 - 768)));
 margin: 0 auto;
}

.start {
  /* display: flex;
  flex-direction: column; */
  /* width: 320px; */
  /* height: 445px; */
  height: calc(290px + (445 - 290) * ((100vw - 768px) / (1440 - 768)));
  /* align-self: center; */
  align-self: flex-end;
  width: calc(209px + (320 - 209) * ((100vw - 768px) / (1440 - 768)));
  margin-right: calc(30px + (45 - 30) * ((100vw - 768px) / (1440 - 768)));
}

.company {
  width: calc(209px + (320 - 209) * ((100vw - 768px) / (1440 - 768)));
  margin-bottom: calc((10px + (15 - 10) * ((100vw - 768px) / (1440 - 768))));
}

.company-title {
  display: flex;
  flex-direction: column;
  /* width: 259px; */
  width: calc(170px + (259 - 170) * ((100vw - 768px) / (1440 - 768)));
  margin: 0 auto;
}

.start {
  
  /* width: 320px; */
  
  /* height: 445px; */
  
  /* margin-right: 45px; */
  
}

.whether {
  /* width: 365px; */
  width: calc(232px + (365 - 232) * ((100vw - 768px) / (1440 - 768)));
  /* height: 324px; */
  align-self: center;
} 

.whether-title {

}

.subtitle {
  /* width: 322px; */
  width: calc(203px + (322 - 203) * ((100vw - 768px) / (1440 - 768)));
}

/*-----section end-------------*/

/*карусель*/
form {
  /* position: relative; */
  width: 342px;   
  display: flex;  
  margin: 0 auto; 
  white-space: nowrap;
  margin-bottom: 40px;
  /* overflow: hidden; */
}

form :not(:last-child){  
  margin-right: 32px;
}
input {
 display: none;
   z-index: 10;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3)
 {
  
  z-index: 0;
}


input:nth-of-type(1):checked ~ label
 {
  transform: translate3d(0%, 0, 0);
}

input:nth-of-type(2):checked ~ label 
 {
   transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label
 {
   transform: translate3d(-200%, 0, 0);
}

label { 
 position: relative;
}

label:before,
label:after {
  color: red;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  /* height: 10rem; */
  vertical-align: middle;
  /* line-height: 10rem; */
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
  z-index: 20;
}

label:before {
  position: absolute;
  content: "\276D";
  right: 100%;
  /* z-index: 20; */
  /* border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; */
}

label:after {
  /* position: absolute; */
  content: "\276c";
  left: 100%;
  /* z-index: 20; */
   /* border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; */
}

label[for="Frankie"]::before {
  right: -228%;
  
}

label[for="Elayne"]::after {
  left: -228%;
}

/*карусель*/
/*-------groope--------*/

.cards {
  width: 1089px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.cards :not(:last-child){  
  margin-right: 32px;
}

.card {
  position: relative;
  width: 342px;
  height: 239px;
}

.card::before {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(0deg, #000000 -32.5%, rgba(84, 84, 84, 0.0001) 67.78%);
}

.photo {
  width: 100%;
  /* height: 100%; */
 }

.people-title {
  position: relative;
  padding-left: 27px;
  margin-top: -85px;
}
.name {
  font-size: 34px;
  color: #FFFFFF; 
}


.title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.center {
  text-align: center;
}

.emaile {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
} 

/* .emaile::after {
  position: absolute;
  top: 85px;
  left: 460px;
  content: "Thanks! Email received.";
  width: 264px;
  height: 25px;
  font-family: Raleway;
  font-weight: 500;
  color: #4BA87D;
  font-size: 21px;
  letter-spacing: 1.05px;
}

.form {
  width: 420px;
  height: 65px;
}

.btn {
  margin-left: 27px;
  height: 65px;
  width: 221px;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1.0499999523162842px;
  text-align: center;
  border: none;
}

.btn:hover,
.btn:active {
  opacity: .7;
}

.best {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 43px;
}

.li {
  display: flex;
  justify-content: center;

}

.li1 {
  margin-right: 64px;
  margin-bottom: 146px;
}

.get {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 366px;
  background: #4BA87D;
  margin-bottom: 78px;
}

.footer {}

.nav1 {
  display: flex;
  justify-content: space-between;
}

/*------groope end-------*/


@media (max-width: 767px) {
.nav-links {
  display: none;
}

.main-background {
  /* margin-top: 150px; */
  margin-top: calc(0px + (0 - 150) * ((100vw - 768px) / (768 - 320)));
}

.hero {  
  width: calc(320px + (711 - 320) * ((100vw - 320px) / (768 - 320)));
 
}

.m {
  font-size: 14px;
}

.xl {
  padding-bottom: calc(17px + (98 - 17) * ((100vw - 768px)  / (320 - 768)));

}

.pic {  
  margin-left: -130px;   
  padding-top: 210px;
  margin-left: calc(-320px + (-130 + 320) * ((100vw - 320px) / (768 - 320)));
  margin-right: 7px;
}

.title {
  padding-right: calc(1px + (20 - 1) * ((100vw - 768px) / (320 - 768)));
  padding-top: calc(0px + 109  * ((100vw - 768px) / (320 - 768))) ;
  padding-left: 7px;
}

 .buttons {
  justify-content: center;
  /* margin: 0 -25px 0 0; */
 }

 .button1, .button2 {
  width: 143px;
 }

.start {
 /* transform: translateY(200px); */
 /* transform: translateY( calc(0px + (200 - 0) * ((100vw - 768px) / (320 - 768)))); */
}
}
